# Dépendances
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Répertoire de build
public/
dist/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.settings/

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Netlify
.netlify/
node-v22.15.1.pkg
node-v20.11.1-darwin-x64*
